@keyframes divIncreasement {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.progressDiv {
  @apply w-full h-full bg-[#D9D9D9];
}

.progressAction {
  @apply w-[0%] h-full bg-[#0050C8];
  animation: divIncreasement ease-in-out infinite;
  animation-duration: 5s;
}

.progressInAction {
  @apply w-[0%] h-[0px];
}
